<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>



    <typeAliases>
        <package name="com.ztbu.pojo"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/> <!--事物管理方式 一般不用mybatis 后期用spring接管-->
            <dataSource type="POOLED"> <!--数据库连接池信息-->
                <!--数据库连接信息-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///db1?useSSL=false&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>


    </environments>
    <mappers>
        <!--加载sql映射文件-->

        <package name="com.ztbu.mapper"/>

    </mappers>


</configuration>